[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
python-language-server = "*"
pipenv = "*"
pynvim = "*"

[packages]
pytest-mock = "*"

[requires]
python_version = "3.7"
